#pagination-wrapper{
    display: flex;
    gap: 20px;
}

.pagination-change-link-box {
    display: flex;
    align-items: center;
    gap: 4px;

    cursor: pointer;
}

.pagination-change-link-text {
    color: rgba(0, 0, 0, 0.8);

	font-size: 14px;
	font-weight: 300;
	line-height: 140%;
}

.pagination-divider {
    color: rgba(0, 0, 0, 0.2);

	font-size: 14px;
	font-weight: 200;
	line-height: 140%;

    cursor: default;
}

.pagination-text-active {
    color: rgba(0, 0, 0, 1);

	font-size: 14px;
	font-weight: 300;
	line-height: 140%;

    cursor: default;
}

.pagination-text {
    color: rgba(0, 0, 0, 0.6);

	font-size: 14px;
	font-weight: 300;
	line-height: 140%;

    cursor: pointer;
}
    
.icon-box-small {
    /* display: inline-block; */
    width:20px;
    height:20px;
    border:1px solid red;
}

/* .expand-left-icon {
    width:100%;
} */